apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pods: ""
  creationTimestamp: null
  labels:
    component: keepalived
    tier: control-plane
  name: keepalived
  namespace: kube-system
spec:
  containers:
  - image: 10.202.107.19/library/keepalived:0.1
    name: keepalived
    args: ["--copy-service"]
    securityContext:
      capabilities:
        add: ["NET_ADMIN"]
    volumeMounts:
    - mountPath: /container/service/keepalived/assets/keepalived.conf
      name: keepconfig
    - mountPath: /container/service/keepalived/assets/notify.sh
      name: checkscript
  hostNetwork: true
  volumes:
  - hostPath:
      path: {{ keepalived.dir }}/keepalived.conf
      type: FileOrCreate
    name: keepconfig 
  - hostPath:
      path: {{ keepalived.dir }}/check_apiserver.sh
      type: FileOrCreate
    name: checkscript
status: {}
