#! /bin/sh

secretname=$(kubectl get secret -n {{ ns_name }} | grep {{ sa_name }} | awk '{print $1}')

token=$(kubectl describe secret $secretname -n {{ ns_name }} | grep token: | awk '{print $2}')

cat <<EOF > {{ file_dest }}/kubeconfig
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUR2akNDQXFhZ0F3SUJBZ0lVTG9BYlZUbE5tSHVCU3haSnJlNlhEdGpiMjZrd0RRWUpLb1pJaHZjTkFRRUwKQlFBd1pURUx
NQWtHQTFVRUJoTUNRMDR4RWpBUUJnTlZCQWdUQ1VkMVlXNW5SRzl1WnpFUk1BOEdBMVVFQnhNSQpVMmhsYmxwb1pXNHhDekFKQmdOVkJBb1RBbE5HTVEwd0N3WURWUVFMRXdSelptRnBNUk13RVFZRFZRUURFd3ByCmRXSm
xjbTVsZEdWek1CNFhEVEU0TURNeE5UQTRNVFl3TUZvWERUSXpNRE14TkRBNE1UWXdNRm93WlRFTE1Ba0cKQTFVRUJoTUNRMDR4RWpBUUJnTlZCQWdUQ1VkMVlXNW5SRzl1WnpFUk1BOEdBMVVFQnhNSVUyaGxibHBvWlc0e
ApDekFKQmdOVkJBb1RBbE5HTVEwd0N3WURWUVFMRXdSelptRnBNUk13RVFZRFZRUURFd3ByZFdKbGNtNWxkR1Z6Ck1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBcU44ZDAwSS8zUTZhbnVs
S0V2ZXUKL1FHUzhNR3A4akpwc3JLWUt5eEE4T2dCZUM0SHFvSGpEc3gvVGFUZ3dsc1hUeTBsNm9IVXg4S0dqR3E0bS9RMgp4NFRKdFU4a3hhQUdhb2F6TWExZGJhRnprbGE1TFIxekhQNjJXMFRNQ1pJODFacE1JL2VWUmZ
YV3pFK2tjb012CmNReVBqMWZSZWludW9TSFhLekJHdUJtWmtybENtN1cwcVBVQVRZWFZlWjFlMHlpd2lWRVlwajI2NDdLVkxJcWUKa2ZTbGJEcFFETGkxR1lZUTJFdDZIQzFzMUpvTW9VbXg2UkNWdm14WGd3Zllwd2ZMeV
ovcWNxcEllR1dOMDllaApPV0hUZTh4UVUrRVVTNFNybDRBTEFpTXY0cTZKZVF3eFpxZ0ZDY2FXZTdIell1WG94SVdCUjRYeUFrd3dIalBTCm5RSURBUUFCbzJZd1pEQU9CZ05WSFE4QkFmOEVCQU1DQVFZd0VnWURWUjBUQ
VFIL0JBZ3dCZ0VCL3dJQkFqQWQKQmdOVkhRNEVGZ1FVVTVGRXZEdnBrWGFCaWFkY2JHUEFyTGNRTWRrd0h3WURWUjBqQkJnd0ZvQVVVNUZFdkR2cAprWGFCaWFkY2JHUEFyTGNRTWRrd0RRWUpLb1pJaHZjTkFRRUxCUUFE
Z2dFQkFIMzlhaUNHOXRjZmhmaUF4WU9iCjRZMVFtMnJ5eHg1RDlpbDlEdG1vTGNmaER5VXVFSjdiWHROVWRCeUlZV3ZESDNzV0RHL0k0TTliVHdlSnY1TFEKT3hhU1A0SFF0S3lCdVV6MVRpNU1CUElDeWZZcHJTTUI2blI
wRHpuY2V0MEg2TVlkUjdPelNCNEFrT1FzUHo1MQpNekpKSXdQUStpazMxUkFnaE94eWZjV0NPelJxWGxURTR2MzlLdjVQcUZ1OThoTmoyN3Z5Sjl0NWIwdzhFNnZ2CkZidEthaWMxOGIwMFVjbnl0VEJ3UUI4TGo1b3A1YW
pIdnMrS1Z1UW1adEZCNEJhMUNKbE9GYS9UQm5TTVhLYVEKY3gvTDV1VnpXTWtTRjFBRmM4aTZ1TzBhQXc1R3RuTDNkNUtOa3g1WUtyUzFqMXNkTVNtNjUvT1hJbmtuMHlLYgprRVE9Ci0tLS0tRU5EIENFUlRJRklDQVRFL
S0tLS0K
    server: https://10.203.12.57:443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: {{ sa_name }}
    namespace: {{ ns_name }}
  name: {{ ns_name }}-admin@kubernetes
current-context: {{ ns_name }}-admin@kubernetes
kind: Config
preferences: {}
users:
- name: {{ sa_name }}
  user:
    token: $token
EOF
